.mainContainer {
    background-color: #fff;
    border-radius: 4px;
    padding: 30px;
    margin: 24px 0;
    box-shadow: 0 0 5px rgba(0,0,0,.05);
    position: relative;
}

.sidebar {
    padding-left: 24px;
}

.main {
    padding-right: 24px;
}
